plots/*
PrePlot
logFile/*
data/*
preprocess/HDPE
preprocess/LDPE
preprocess/PET
preprocess/PP
preprocess/other
preprocess/open_spcey
try.py
MMPSD
file_to_Edward
papers
transfermor_train.py
train_from_txt_ablation.py
model_inc.py
model_ablation.py
gradcam.py
grad_cam_FC.py
eval_for_exps.py
eval_ablation.py